{% extends 'users/base.html' %}
{% load static %}
{% load groupfilter %}

{% block content %}
<body>  
  {% if user.is_authenticated %}
  <div class="wrapper">
    <!-- STUDENT INFO -->
      <section class="header section bd-container">
        <div class="header__container bd-grid">
          <div class="header__data">
              <h2>STUDENTS INFO</h2>
              <h1 id="userid">{{ user.user_idnumber}}</h1>
                <p><b>Name:</b> {{ user.get_full_name}}</p>    
                <p><b>College:</b> {{ user.college}}</p>   
                <p><b>Course:</b> {{ user.course}}</p>                                         
                <p><b>Status:</b></p>
              {% if user.status == "Offline" %}  
                <p style="font-size: 1rem;">{{ user.status }}</p> 
              {% elif user.timeout_status == "On Time" %}
                <p style="font-size: 1rem;">{{ user.timeout_status }}</p>
              {% else %}
                <p style="font-size: 1rem;">{{ user.timein_status }}</p>
              {% endif %}                                        
            </div>
          <div class="header__img">
            <img src="{% static 'media/signin-out_icon.png' %}" style="cursor: pointer; background: green;" id="checkin-out" class="checkinout-background">
          </div>
        </div>
      </section>
      
  <!-- EVENT INFO -->
        <div class="event__background">
          <div class="event__data event-grid">
            <div class="event__img">
            {% if event_info %}
              {% for data in event_info %}
                <img src="{{ data.event_logo.url }}" alt="eventlogo">
              {% endfor %}
            {% endif %}
            </div>
            
            <div class="event__name">
            {% if event_info %}
              {% for data in event_info %}
                <h2>{{ data.event_name }}</h2>
                <p>{{ data.event_venue }}</p>
                <p>{{ data.event_start|date:"M d,Y" }} ━ {{ data.event_end|date:"M d,Y" }}</p>
              {% endfor %}
            {% endif %}
              </div>
          </div>
        </div>
  <!-- SCHEDULE INFO -->
        <div class="schedule">
          {% for day in get_eventday %}
          <h2 class="schedule__day">{{day.event_day|date:"l - M d,Y"}}</h2>
          <h2 id="daily_login_time" style="display: none;">{{ day.daily_login_time | time:"g:iA"|upper }}</h2>
          {% endfor %}
          <div id="slides" class="slides">
            <span class="slide">
              <table class="schedule__table">
                <tbody> 
                {% for schedule in get_activity %}
                  <p>{{ schedule.id.event_name }}</p>
                  <tr>
                    <th>{{ schedule.event_start_time|time:"g:iA"|upper}}  ━  {{ schedule.event_end_time|time:"g:iA"|upper}}</th>
                    <th>{{ schedule.event_activity }}</th>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </span>
            <div class="feedback-btn">
              <img src="{% static 'media/feedback_icon.png' %}" id="feedback-popup-btn">
            </div>

            <div class="logout-btn">
              <img src="{% static 'media/logout_icon.png' %}" id="open-popup-btn">
              {% if request.user|group:"Student Officer" or request.user.is_admin %}
              <a href="{% url 'dashboard' %}"><img style="padding: 5px;" src="{% static 'media/dashboard_icon.png' %}"></a>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- LOGOUT MODAL BOX -->
        <div class="popup logout-btn">
          <div class="logout_description">
            Are you sure you want to logout?
          </div>
          <div class="buttons">
            <button id="cancel-popup-btn">Cancel</button>
            <button id="logout-popup-btn">
              <a class="logout-text-link" >Logout</a>
            </button>
          </div>
        </div>

        <!-- FEEDBACK MODAL BOX -->
        <div class="feedback feedback-btn">
          <div class="feedback_description">
            You can send your concerns/feedback here!
            <form action="" method= "POST" class="feedback-form">
              {% csrf_token %}
                <textarea cols="35" rows="7" name="feedback" placeholder="Type your concerns here." required></textarea><br/>
              <div class="feedback_send">
                <button id="send-popup-btn">Send</button>
              </div>
            </form>
              <div class="feedback_cancel">
                <button id="feedback-cancel-btn">Cancel</button>
              </div>
          </div>
        </div>
  </div>
  {% endif %}
</body>
{% endblock %}