{% extends 'users/base.html' %}
{% load static %} 

{% block content %}
<body>   
    <div class="container">
        <div class="signin__container">
            <div class="signin">   
                <img src="{% static 'media/wifiattendance_logo.png'%}" alt="attendancesystem icon">
                <form method="POST" action="{% url 'login' %}" class="sign-in-form" id="form">                    
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" id="submitBTN">Sign In</button>                    
                </form>
                <h2 class="signup__text">Don't have an account yet?</h2>
                <div class="signup__text-link">
                    <a href="{% url 'register' %}" class="signup__link">Register here</a>
                </div>
            </div>
        </div> 
    </div>   
</body>
{% endblock %}
