{% extends 'dashboard/base.html' %}

{% block title %}
  | View Category
{% endblock %}

{% block name %}
  / View Category
{% endblock %}

{% block dashboard %}
  Dashboard
{% endblock %}

{% load static %}

{% block content %}
      <main>
        <div class="event__container">
          <div class="event__header">
            <h1>View Category</h1> 
          </div>

          <div class="attendance__table">
            {% if category_data %}
            <div class="table-users">    
              <table class="attendance__data">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Status</th>
                      <th></th>
                      <th></th>

                    </tr>
                  </thead>
                    <tbody>
                    {% for category in category_data %}
                    <tr>
                      <td style="text-transform: uppercase;">{{ category.category_name }}</td>
                      <td>{{ category.category_status }}</td>
                      <td><a href="{% url 'edit_category' category.id %}">Edit</a></td>
                      <td><a href="{% url 'delete_category' category.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                    
                    </tbody>
              </table>
            </div>
            {% else %}
            <p>No Category Available</p>
            {% endif %}
          </div>
        </div>
        <div class="pagination">
          {% if category_data.has_previous %}
            <a href="?page={{ category_data.previous_page_number }}">Previous</a>
          {% endif %}
          {% if category_data.has_next %}
            <a href="?page={{ category_data.next_page_number }}">Next</a>
          {% endif %}
          <div class="page-number">
            <h4>Page {{ category_data.number }} of {{ category_data.paginator.num_pages }}</h4>
          </div>
        </div>
      </main>
{% endblock %}