{% extends 'dashboard/base.html' %}

{% block title %}
  | Attendance
{% endblock %}

{% block name %}
  / Attendance
{% endblock %}

{% block dashboard %}
  Dashboard
{% endblock %}

{% load static %}

{% block content %}
      <main>
        <div class="attendance__container">
          <div class="attendance__header">
            <div class="attendance_wrap attendance_wrap_4">
              <div class="attendance_box">
                <h1>Attendance</h1>
              </div>
            </div>
          </div>
          <div class="studentrecord__table">
            <div class="table-users">
              <table id="student_record_table" class="display">
                <thead>
                  <tr>
                    <th style="background-color: #474747; color: #fff;">ID Number</th>
                    <th style="background-color: #474747; color: #fff;">First Name</th>
                    <th style="background-color: #474747; color: #fff;">Last Name</th>
                    <th style="background-color: #474747; color: #fff;">Email</th>
                    <th style="background-color: #474747; color: #fff;">College</th>
                    <th style="background-color: #474747; color: #fff;">Year Level</th>
                    <th style="background-color: #474747; color: #fff;">Gender</th>
                    <th style="background-color: #474747; color: #fff;">Signed In</th>
                    <th style="background-color: #474747; color: #fff;">Signin Status</th>
                    <th style="background-color: #474747; color: #fff;">Signed Out</th>
                    <th style="background-color: #474747; color: #fff;">Signout Status</th>
                    <th style="background-color: #474747; color: #fff;">Status</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
      </main>
{% endblock %}