{% extends 'dashboard/base.html' %}
{% load static %}

{% block dashboard %}
 
{% endblock %}

{% block content %}
      <main>
        
        <div class="main__container">
          <!-- MAIN TITLE STARTS -->
          <div class="main__title">
            <img src="{% static 'media/geoattendance_logo.png'%}" alt="" />
              <div class="main__greeting">
                <p>Logged in</p>
                {% if user.is_authenticated and user.is_superuser %}
                <h1>{{ user.get_full_name}}</h1>
                {% endif %}
              </div>
          </div>
          <div class="event__controller">
            <div class="event">
              <div class="event_inner">
                  <p>Event Name</p>
                {% if event %}
                  {% for data in event %}
                  <span>{{ data.event_name }}</span>
                  {% endfor %} 
                {% endif %}
                <!-- remove this -->
                <div class="overlay__edit">
                  <div class="overlay__title overlay__edit margin-bot">
                    <p class="overlay__text">Edit</p>
                    {% for data in event %}
                    <a href="{% url 'edit_event' data.id%}"><img src="{% static 'media/edit_icon.png'%}" alt="" /></a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              
            </div>

            <div class="event">
              <div class="event_inner">
                <p>Venue</p>
                {% if event %}
                  {% for data in event %}
                  <span>{{ data.event_venue }}</span>
                  {% endfor %}
                {% endif %}
                <div class="overlay__edit">
                  <div class="overlay__title overlay__edit margin-bot">
                    <p class="overlay__text">Edit</p>
                    {% for data in event %}
                    <a href="{% url 'edit_event' data.id %}"><img src="{% static 'media/edit_icon.png'%}" alt="" /></a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="event time_event">
              <div class="event_inner">
                <p>Login Time</p>
                {% if event_day %}
                  {% for login in event_day %}
                  <span>{{ login.daily_login_time|time:"g:iA"|upper }}</span>
                  {% endfor %}
                {% endif %}

                <div class="overlay__edit">
                  <div class="overlay__title overlay__edit">
                    <p class="overlay__text">Edit</p>
                    {% for login in event_day %}
                    <a href="{% url 'edit_activity' login.id %}"><img src="{% static 'media/edit_icon.png'%}" alt="" /></a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="event time_event">
              <div class="event_inner">
                <p>Logout Time</p>
              {% if event_day %}
                {% for login in event_day %}
                  <span>{{ login.daily_logout_time|time:"g:iA"|upper }}</span>
                {% endfor %}
              {% endif %}

                <div class="overlay__edit">
                  <div class="overlay__title overlay__edit">
                    <p class="overlay__text">Edit</p>
                    {% for login in event_day %}
                    <a href="{% url 'edit_activity' login.id%}"><img src="{% static 'media/edit_icon.png'%}" alt="" /></a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- MAIN TITLE ENDS  -->
          
          <!-- PANELS STARTS HERE -->
          <div class="panels">
            <div class="panels__left">
              <div class="panels__left__title">
                <h1>Attendance Lists</h1>
              </div>

              <div class="panels__box">
                <div class="box">
                  <div class="box_inner">
                    <p>Total Students</p>
                    <span id="total_students"></span>
                  </div>
                </div>
    
                <div class="box">
                  <div class="box_inner">
                    <p>Early Today</p>
                    <span id="early_today"></span>
                  </div>
                </div>
    
                <div class="box">
                  <div class="box_inner">
                    <p>Late Today</p>
                    <span id="late_today">645</span>
                  </div>
                </div>

                <div class="box">
                  <div class="box_inner">
                    <p>Signout Early</p>
                    <span id="timeout_early"></span>
                  </div>
                </div>
              </div>
               <!-- DASHBOARD TABLE -->
              <div class="dashboard__attendance">
                <table class="display" id="attendance_dashboard">
                  <thead>
                    <tr>
                      <th style="background-color: #474747; color: #fff;">ID Number</th>
                      <th style="background-color: #474747; color: #fff;">Last Name</th>
                      <th style="background-color: #474747; color: #fff;">First Name</th>
                      <th style="background-color: #474747; color: #fff;">School</th>
                      <th style="background-color: #474747; color: #fff;">Year Level</th>
                      <th style="background-color: #474747; color: #fff;">Gender</th>
                      <th style="background-color: #474747; color: #fff;">Signed In</th>
                      <th style="background-color: #474747; color: #fff;">Signed Out</th>
                      <th style="background-color: #474747; color: #fff;">Status</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            
            <div class="panels__right">
                <div class="panels__right__title">
                    <h1>Activity Schedule</h1>
                </div>
                <div class="dashboard__schedule">
                    <table>
                      <tbody>
                        {% for activity in daily_schedule %}
                        <tr>
                          <th>{{ activity.event_start_time|time:"g:iA"|upper}} ━ {{ activity.event_end_time|time:"g:iA"|upper}}</th>
                          <th>{{ activity.event_activity }}</th>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                
            </div>
          </div>
          <!-- CHARTS ENDS HERE -->
        </div>
      </main>

{% endblock %}
