{% extends 'dashboard/base.html' %}

{% block title %}
  | Student Record
{% endblock %}

{% block name %}
  / Student Record
{% endblock %}

{% block dashboard %}
  Dashboard
{% endblock %}

{% load static %}

{% block content %}
      <main>
        <div class="studentrecord__container">
          <div class="studentrecord__header">
            <div class="search_wrap search_wrap_4">
              <div class="search_box">
                <h1>Student Record</h1>
              </div>
            </div>
          </div>
          <div class="studentrecord__table">
            <div class="table-users">
              <table id="student_record_table" class="display">
                <thead>
                  <tr>
                    <th>IP Address</th>
                    <th>ID Number</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>College</th>
                    <th>Course</th>
                    <th>Year Level</th>
                    <th>Gender</th>
                    <th>Signed In</th>
                    <th>Signin Status</th>
                    <th>Signed Out</th>
                    <th>Signout Status</th>
                    <th>Status</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
      </main>
{% endblock %}